#DESAFÍO DE LISTAS

A partir de **list_1** y **list_2** resolver los numerales del desafío.

Para esto tendrás que escribir y ejecutar el código en las celdas corrrespondientes.

Recuerda instanciar las variables **list_1** y **list_2** antes de comenzar el ejercicio.

In [1]:
list_1 = [1, 12, 123]
list_2 = ["Bye", "Ciao", "Agur", "Adieu"]
list_1

[1, 12, 123]


1. Añade a la **list_1** el int `1234` y luego el string `“Hola”`

In [17]:
# list_1.append(1234)
# list_1
# list_1.append('Hola')
list_1 += [1234, 'Hola']
list_1

[1, 12, 123, 1234, 'Hola', 1234, 'Hola']

In [22]:
h = list()

In [25]:
agregar = [1,2,3,4,5,6]
h += agregar

In [26]:
h

[9, 1, 2, 3, 4, 5, 6]

2. Añade a la **list_2** el string `“Adios”` y luego el int `1234`

In [3]:
list_2.append('Adios')
list_2.append(1234)
list_2

['Bye', 'Ciao', 'Agur', 'Adieu', 'Adios', 1234]

In [52]:
list2 = []
list2 += ['Adios',1234]
list2 += ['jjj']

In [53]:
print(list2)

['Adios', 1234, 'jjj']

3. Instancia **list_3** con todos los elementos de **list_1** menos el último

In [30]:
list_3 = list_1[0:len(list_1)-1]
list_3 = list_1[0:4]
list_3 = list_1[:-1]
list_3 = list_1[:-1]
list_3

[1, 12, 123, 1234, 'Hola', 1234]

In [31]:
list_3

[1, 12, 123, 1234, 'Hola', 1234]

In [33]:
list_3[len(list_3)-1]

1234

In [74]:
list3 = [1,2,3,4,5,6,7,8,9,10]
list2 = []
chidos = []
for i in range(len(list3)-1):
    string = ""
    for j in range(i+2):
        if j < len(list3):
            z = str(list3[j])
            string = string + z
    chidos.append(string)

In [75]:
chidos

['12',
 '123',
 '1234',
 '12345',
 '123456',
 '1234567',
 '12345678',
 '123456789',
 '12345678910']

4. Instancia **list_4** con todos los elementos de **list_2** menos el primero y el último

In [6]:
list_4 = list_2[1:-1]
list_4

['Ciao', 'Agur', 'Adieu', 'Adios']

5. Instancia **list_5** con los elementos de **list_4** y de **list_3**

In [7]:
list_5 = list_4 + list_3
list_5

['Ciao', 'Agur', 'Adieu', 'Adios', 1, 12, 123, 1234]


#DESAFÍO DE TUPLAS

A partir de la tupla **my_tuple**, resolver los numerales del desafío.

In [8]:
my_tuple = (5, 12, 7, 37, 8, 86, 19, 7, -783, 87, 188, 7, 9, 12, 7, 3982)

1. El último ítem de **my_tuple**

In [9]:
my_tuple[-1]

3982

2. El número de ítems de my_tuple

In [10]:
len(my_tuple)

16

3. La posición donde se encuentra el ítem 87 de **my_tuple**

In [11]:
my_tuple.index(87)

9

4. Una lista con los últimos tres ítems de my_tuple

In [12]:
# my_sublist = list(my_tuple[-3:])
# my_sublist
my_listc = my_tuple[len(my_tuple)-3:len(my_tuple)] 
type(my_listc)

tuple

5. El ítem que está en la posición 8 de **my_tuple**

In [13]:
my_tuple[7]
my_tuple[7]

7

6. El número de veces que se repite `7` en **my_tuple**

In [14]:
my_tuple.count(7)

4

In [15]:
a = 5

In [16]:
a

5


# New Section
1.   List item
2.   List item